<ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link" routerLink="/login" (click)="logout()">Log Out</a>
  </li>
</ul>
<alert *ngIf="message.length > 0" type="info">{{message}}</alert>
<alert *ngIf="errorMessage.length > 0" type="danger">{{errorMessage}}</alert>
<form>
  <div class="form-group" >
    <label for="rows-limit">Rows Limit</label>
    <input type="text" class="form-control" id="rows-limit"
           name="rows-limit" [(ngModel)]="searchCriteria.rowLimit">
  </div>
  <div class="form-group">
    <label for="start-date">Start Date</label>
    <input type="text" id="start-date" class="form-control" name="start-date"
           [(ngModel)]="searchCriteria.startDate" bsDatepicker>
  </div>
  <div class="form-group">
    <label for="end-date">End Date</label>
    <input type="text" id="end-date" class="form-control" name="end-date"
           [(ngModel)]="searchCriteria.endDate" bsDatepicker>
  </div>
  <button (click)="load()" [disabled]="isLoading"
          class="btn btn-primary">{{isLoading ? 'Loading...' : 'Load'}}</button>
</form>

<table class="table table-striped main">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Date</th>
    <th scope="col">Data</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let el of elements" (click)="openModal(template, el.objectId)">
    <th scope="row">{{el.objectId}}</th>
    <td>{{el.dateShortPresentation}}</td>
    <td>type 0: {{el.typeZero}}<br/>type 1: {{el.typeOne}}<br/>type 2: {{el.typeTwo}}</td>
  </tr>
  </tbody>
</table>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{selectedElement.objectId}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <table class="table table-striped items">
      <thead>
      <tr>
        <th scope="col">Type</th>
        <th scope="col">Value</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of selectedElement.data">
        <td>{{item.type}}</td>
        <td>{{item.value}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</ng-template>