<div id="first-block"></div>
<!--<alert type="success">{{message}}</alert>-->

<form  *ngIf="!authService.isLoggedIn">
    <div class="form-group" >
        <label for="login">Login</label>
        <input type="text" class="form-control" id="login" required
               #login name="login" (keyup)="validate(login.value)">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" class="form-control" name="password"
               [(ngModel)]="password" >
    </div>
    <button (click)="logIn(login.value)" class="btn btn-primary">Login</button>
</form>